body {
    color: black;
    font-family: Comic Sans MS;
    font-size: 1em;
    margin-right: 20%;
    margin-left: 20%;
    background-color: khaki;

}

h1, p {
    text-align: center;
    border: 2px dotted brown;
    font-size: 1em;
}

button#mybutton {
    color: red;
    background-color: blue;
    border: green solid 10px;
    font-size: 20px;
}

footer {
    background-color: gray;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(rubyyyyy.png);
}

div.nav {
    font-size: 1.25em;
    text-align: center;
    background-color: orange;
    border: 2px solid green;
    padding-bottom: 35px;
    padding-top: 5px;
    height: 20%;
    width: calc(30% -30px);
}

div.navbar {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



div#songtitlist {
    width: 100%;
    text-align: center;
    border: 2px dotted brown;
    padding-bottom: 20px;
}

div.songtit {
    width: 20%;
    border: 1px dotted blue;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
    text-align: center;
}

div#songlist {
    display:flex;
    width: 100%;
    flex-direction: row;
    border: 2px solid purple;
    justify-content: space-around;
}

ul {
    color: #478;
    font-size: 24px;
}

div.bankai {
    opacity: 50%;

}

div.bankai:hover {
    opacity: 100%;
    transition: opacity 1s;
}

div.bankai:active {
    opacity: 100%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

h2 {
    background-color:aquamarine;
    width: fit-content;

}

a {
    color:red;
    text-decoration: overline;
}

a:hover {
    color: blue;

}

table {
    background-color: rgba(12, 230, 4, 0.623);
}

tr {
    background-color: blue;
}

td {
    background-color: red;
    border: 2px dotted;
}
